.gallery__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 70px;
    align-items: center;
}

.gallery__view-all {
    margin: auto;
}

.gallery__up {
    margin: auto;
}

.gallery__button {
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 900;
    background-color: $black;
    box-sizing: border-box;
    border: 2px solid $white;
    color: $white;
    width: 151px;
    height: 45px;
    text-transform: uppercase;
    cursor: pointer;
}

.gallery__button:focus,
.gallery__button:hover {
    opacity: .7;
}

.gallery__nothing-found {
    margin: -30px 0px 20px 0px;
}