.page {
    height: 100%;
    font-family: $font-family-base;
    color: $white;
    font-size: $font-size-base;
    background-color: rgba(9, 19, 27, 1);
    font-weight: 400;
    background: url('../../img/Rectangle 3.png') center top no-repeat, rgba(9, 19, 27, 1);
}

.page__body {
    min-height: 100%;
    margin: 15px;
}