.page-header__contacts {
    display: none;

    @media (min-width: $desktop-width) {
        display: flex;
        justify-content: space-around;
        background-color: $black;
        width: 100%;
        margin: -15px -15px 0px -15px;
        padding-right: 30px;
    }
}

.page-header__logo {
    font-family: "Righteous", "Arial", sans-serif;
    font-size: 36px;
    line-height: 44.7px;
    cursor: pointer;
    text-decoration: none;
    color: $white;
}

.page-header__logo:hover {
    color: $black;
}

.page-header__menu {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @media (min-width: $desktop-width) {
        max-width: 1400px;
        margin: auto;
    }
}

.page-header__burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;

    @media (min-width: $desktop-width) {
        display: none;
    }
}

.page-header__bar {
    width: 20.54px;
    height: 3.12px;
    background-color: $white;
    margin: 4px 0;
}

.page-header__burger:focus .page-header__bar,
.page-header__burger:hover .page-header__bar {
    background-color: $black;
}

.page-header__burger--open:focus .page-header__bar,
.page-header__burger--open:hover .page-header__bar {
background-color: rgb(34, 112, 197)
}

.page-header__burger--open {
    z-index: 12;
    position: absolute;
    top: 34px;
    right: 0px;
}


.page-header__burger--open .page-header__bar--3 {
    opacity: 0;
}

.page-header__burger--open .page-header__bar--1 {
    transform: translateY(-50%) rotate(45deg);
    margin: -2px 0px;
}

.page-header__burger--open .page-header__bar--2 {
    transform: translateY(-50%) rotate(-45deg);
    margin: -1px 0px;
}