.page-footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    line-height: 36px;
    color: rgba(137, 145, 175, 1);

    @media (min-width: $tablet-width) {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px;
    }

    @media (min-width: $desktop-width) {
        max-width: 1400px;
        margin: auto;
    }

}