.page__body {
    font-family: $font-family-base;
    color: $white;
    font-size: $font-size-base;
    background-color: $black;
    font-weight: 400;
    // background-image: url('../../img/Rectangle 3.png');
}