.search__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.search__description {
    font-style: italic;

    @media (min-width: $desktop-width) {
        font-size: 18px;
        font-style: italic;
        line-height: 25px;
        letter-spacing: 0.1em;
    }
}

.search__search-line {
    display: flex;

}

.search__button {
    width: 60px;
    height: 60px;
    border-radius: 0px 10px 10px 0px;
    background-color: $black;
    border: 1px solid $black;

    @media (min-width: $desktop-width) {
        height: 76px;
        width: 109px;
    }
}

.search__input {
    width: 240px;
    height: 60px;
    box-sizing: border-box;
    border-radius: 10px 0px 0px 10px;
    font-size: 19px;
    border: 1px solid $black;

    @media (min-width: $desktop-width) {
        width: 500px;
        height: 76px;
    }
}

.search__input:focus,
.search__input:hover {
    border: 1px solid $white;
}

.search__button:focus,
.search__button:hover {
    border: 1px solid rgba(255, 255, 255, 0.678);
}

.search__input::placeholder {
    padding-left: 20px;
}